sim/sim.vvp
sim/frame.ppm
sim/font8x16.mem
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
hardware/quad_hdmi_tx/*-backups/
hardware/quad_hdmi_tx/*.kicad_prl
hardware/quad_hdmi_tx/fp-info-cache
